.main-screen
{
    width: 100%;
    height: auto;
    padding-top: 12vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.title-forum
{
    font-size: 3vw;
    font-weight: bolder;
    margin-bottom: 2vh;
    color: #5b84a7;
}
.posts
{
    width: 80%;
    height: auto;
}
.msg-box
{
    height: 30vh;
    background-color: #5b84a7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1vh 1vw;
    border-radius: 20px;
    margin-bottom: 5vh;
}
.title_card
{
    height: 20%;
    width: 100%;
    font-size: 1.5vw;
    font-weight: bolder;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}
.autor_card
{
    height: 20%;
    width: 100%;
    font-size: 1.3vw;
    font-weight: bold;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.content_card
{
    height: 60%;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1vw;
}
.select-id
{
    width: 10%;
    height: 70%;
    border-radius: 20px;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    border: none;
    font-weight: bolder;
    font-size: 1vw;
    font-family: "Potta One", system-ui;
}
.titlebox
{
    width: 90%;
}
.button-style
{
    font-family: "Potta One", system-ui;
    height: 6vh;
    width: 15vw;
    border-radius: 40px;
    border: none;
    background-color: #4682B4;
    font-weight: bolder;
    font-size: 2.5vh;
    cursor: pointer;
    color: var(--white);
    transition: 0.3s;
    margin-bottom: 2vh;
}
.button-style:hover
{
    background-color: #caf0f8;
    color: #000;
}