.Historia-Board
{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 5vh;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo
{
    margin-top: 15vh;
    margin-bottom: 7.5vh;
    font-family: sans-serif;
    font-size: 3.5vw;
}
.origem-flexbox
{
    background-color: #f0f8ff;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Tutorial-box
{
    background-color: #f0f8ff;
    height: 110vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.NumerosLatinos
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flextextleft
{
    display: flex;
}
.firstcolumn
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.secondcolumn
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.thirdcolumn
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.fourcolumn
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.borda
{
    border: solid 2.5px black;
}
.tile2
{
    width: 5rem;
    height: 5rem;
    background-color: white;

    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitulo
{
    font-family: sans-serif;
    font-size: 6vh;
    margin: 3rem;
    color: #003366;
    font-weight: bold;
}
.textsupleft
{
    font-family: sans-serif;
    text-align: left;
    width: 50vw;
    font-size: 1.8rem;
}
.board2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    padding: 10vh 5vw;
}
.Nascimento-jogo
{
    background-color: #f0f8ff;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.margin-config
{
    padding-top: 5vh;
}
.Nascimentoflex
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding: 10vh 5vw;
}
.Flextextright
{
    display: flex;
}
.imgleft-Flexbox
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgPencilRevista
{
    height: 60vh;
}

.textsupright
{
    font-family: sans-serif;
    text-align: left;
    width: 50vw;
    font-size: 1.8rem;
    margin-left: 5% ;
    margin-right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 2;
}
.textsupmid
{
    font-size: 1.8rem;
    text-align: center;
}
.Explosao-container
{
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 5vw;
}
.Ajuste-Margin
{
    padding-top: 3vh;
}
.Disseminacao-Flexbox
{
    background-color: #f0f8ff;
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Content-Disseminacao
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}
.imgright-Flexbox
{
    display: flex;
}
.HowtoPlayBoard
{
    background-color: #f0f8ff;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boardfoto
{
    height: 55vh;
}
.sudoku-example
{
    margin-bottom: 1.875rem;
}
.Foto-mundo-config
{
    height: 50vh;
}
.bandeira
{
    height: 40vh;
    padding-bottom: 10vh;
}
