#board
{
    width: 27vw;
    height: 27vw;
    border: 0.1vw solid black;
    background-color: white;
    margin-bottom: 5vh;

    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
.tile
{
    width: calc(100%/9);
    height: calc(100%/9);
    border: solid 0.05vw rgb(187, 187, 187);
    box-sizing: border-box;

    font-size: 1.2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.number 
{
    width: 2.75rem;
    height: 2.75rem;
    border: solid 0.063rem black;
    margin: 0.125rem;

    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tile-start
{
    background-color: whitesmoke;
}
.horizontal-line-2-5
{
    border-bottom: 0.063rem solid black;
}
.vertical-line-2-5
{
    border-right: 0.063rem solid black;
}
.horizontal-line-3-6
{
    border-top: 0.063rem solid black;
}
.vertical-line-3-6
{
    border-left: 0.063rem solid black;
}