.sudoku-example {
    font-family: sans-serif;
    text-align: center;
}

#error {
    color: coral;
}

#boardPlay {
    width: 30vw;
    height: 30vw;
    border: 0.1vmin solid black;
    background-color: white;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: calc(100% / 9);
    height: calc(100% / 9);
    box-sizing: border-box;
    border: solid 0.05vmin rgb(187, 187, 187);

    font-size: 1vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

#digits {
    width: 35vw;
    height: 7vh;

    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 3.3vw;
    height: 7vh;
    box-sizing: border-box;
    border: solid 0.05vmin black;
    margin: 0.3vmin;

    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-select {
    background-color: lightblue;
    color: whitesmoke;
}

.tile-start {
    background-color: whitesmoke;
}

.horizontal-line-2-5 {
    border-bottom: 0.05vmin solid black;
}

.vertical-line-2-5 {
    border-right: 0.05vmin solid black;
}

.horizontal-line-3-6 {
    border-top: 0.05vmin solid black;
}

.vertical-line-3-6 {
    border-left: 0.05vmin solid black;
}

.digit-selected {
    background-color: lightgray;
    color: lightblue;
}