body {
    background-color: #f0f8ff;
    width: 100vw;
    height: 100vh;

    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.pai-login-cadastro {
    height: 90%;
    width: 80%;
    border-radius: 1%;
    background-color: #4682b4;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-content {
    height: 100%;
    width: 55%;
    background-color: #4682b4;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.full-box-content
{
    width: 100%;
    height: 70%;
    margin-right: 3vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5%;
}

.icon-content {
    width: 45%;
    height: 100%;
    background-color: #afeeee;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-config {
    height: 100%;
    width: 100%;
}

.titulo-box {
    width: 100%;
    height: 15%;
    font-size: 4.5vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 100%;
    height: 25%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-box {
    width: 80%;
    font-size: 3.5vh;
    font-weight: bold;
    margin: 0;

    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.input-box {
    width: 80%;
    height: 30%;
}

input {
    width: 18vw;
    height: 5.5vh;
    border-radius: 30px;
    padding-left: 1vw;
    border: none;
    font-size: 1vw;
}

.button-box {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.redirect-box {
    width: 100%;
    height: 10%;
    font-size: 2.5vh;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

button {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 2vh;
    font-family: sans-serif;
    font-size: 1.5rem;
    border: none;
    background-color: #afeeee;
}

button:hover {
    background-color: #f0f8ff;
    color: #afeeee;
    cursor: pointer;
}

.Container-text {
    font-family: sans-serif;
    font-size: 3vh;
    margin-left: 3vw;
}

a {
    color: #afeeee;
    text-decoration: none;
}

a:hover {
    color: #f0f8ff;
}

.check-box
{
    padding-left: 2.2vw;
    padding-top: 2vh;
    font-family: sans-serif;
    font-size: 3vh;
    color: #4682b4;
}
#div_text_confirmar_senha
{
    margin-top: 1vh;
    font-size: 2vh;
}