.Footer-div
{
    background-color: #4682b4;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
.Flex-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}
.logo-footer
{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.AjusteBarraVertical
{
    height: 15vh;
    border: 0.125rem solid white;
    border-radius: 3vh;
}
