.Historia-Board
{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 5vh;
    height: 70vh;
}
.titulo
{
    display: flex;
    justify-content: center;
    padding-top: 2vh;
}
.origens
{
    background-color: #f0f8ff;
    height: 80vh;
    width: 100%;
}
.NumerosLatinos
{
    margin: auto;
}
.flextextleft
{
    display: flex;
}

.firstcolumn
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.secondcolumn
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.thirdcolumn
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.fourcolumn
{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.borda
{
    border: solid 3px black;
}
.tile2
{
    width: 120px;
    height: 120px;
    background-color: white;

    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitulo
{
    font-family: sans-serif;
    font-size: 6vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10vh;
}
.textsupleft
{
    font-family: sans-serif;
    text-align: justify;
    width: 50vw;
    font-size: 40px;
    margin-left: 5% ;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.board2
{
    display: flex;
    align-items: center;
    gap: 40vh;
    margin-right: 10%;
}
.Nascimento-jogo
{
    background-color: #f0f8ff;
    height: 100vh;
}
.Nascimentoflex
{
    display: flex;
}
.Flextextright
{
    display: flex;
}
.imgPencilRevista
{
    height: 80vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5vh;
}

.textsupright
{
    font-family: sans-serif;
    text-align: justify;
    width: 50vw;
    font-size: 40px;
    margin-left: 5% ;
    margin-right: 0;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 2;
}
.flexitemexplosao
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.textsupmid
{
    font-size: 4vh;
    text-align: center;
}
.Explosao-container
{
    background-image:url(../assets/Foto\ Borrada\ backgroud\ Home\ page\ editada.png);
    background-size: auto;
    height: 50vh;
}
.Ajuste-Margin
{
    padding-top: 3vh;
}
.Ajustewidth
{
    width: 120vw;
}
.Disseminacao-contaneir
{
    background-color: #f0f8ff;
    height: 90vh;
}
.HowtoPlayBoard
{
    background-color: #f0f8ff;
    font-family: sans-serif;
    font-size: 5vh;
    height: 70vh;
}
.imgBoard
{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}