.sudoku-example
{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#error
{
    color:coral
}
#board
{
    width: 450px;
    height: 450px;
    border: 2px solid black;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile
{
    width: 48px;
    height: 48px;
    border: solid 1px rgb(187, 187, 187);

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
#digits 
{
    width: 450px;
    height: 50px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.number 
{
    width: 44px;
    height: 44px;
    border: solid 1px black;
    margin: 2px;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.number-select
{
    background-color: lightblue;
    color: whitesmoke;
}
.tile-start
{
    background-color: whitesmoke;
}
.horizontal-line-2-5
{
    border-bottom: 1px solid black;
}
.vertical-line-2-5
{
    border-right: 1px solid black;
}
.horizontal-line-3-6
{
    border-top: 1px solid black;
}
.vertical-line-3-6
{
    border-left: 1px solid black;
}
.digit-selected
{
    background-color: lightgray;
    color: lightblue;
}